@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body{
  background-color: #0f1729;
  color: hsl( 229 7% 80% );
}

.navbar-top{
  background-color: #0f1729;
}

textarea{
  background: #161f2e !important;
  border-color: black !important;
}

input{
  background: #161f2e !important;
  border-color: black !important;
}

.modal-header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1d2839;
  }
  
  .modal-close {
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    top: -12px;
    right: 0px;
  }

  .modal-body {
    margin-top: 0rem;
    background-color: #1d2839;
    padding: 1rem
  }
  
  .comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  
  .comment-text {
    flex: 1;
    margin-right: 1rem;
    font-size: 16px;
  }
  
  .comment-author {
    font-weight: bold;
    font-size: 14px;
    color: gray;
  }

  .comment-footer {
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: gray;
  }
  
  .comment-timestamp {
    margin-left: 1rem;
  }

  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .login-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .login-wrapper .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.profile-comment-container{
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 15px;
  font-weight: 400
}
